@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Roboto:wght@500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}


footer {
    display: flex;
    justify-content: end;
    align-items: end;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #464646;
    border: 100%;

}

::-webkit-scrollbar-thumb {
    background-color: #05BE4F;
}

.container__area-box {
    height: 626px;
}

.caixa_botao {
    width: 65px;
    height: 30px;
    background-color: rgb(87, 87, 87);
    border-radius: 50px;
    cursor: pointer;
}

.botao__dark {
    width: 30px;
    height: 30px;
    transform: scale(0.9);
    background-color: #000000;
    border-radius: 150px;
    transition: 0.5s;
    position: relative;
    left: 0;
}

.caixa_botao.dark .botao__dark{
    background-color: white;
    transition: 0.5s;
    left: 35px;
}

.caixa_botao.dark {
    transition: 0.5s;
}

#criptografar.dark {
    color: white;
    font-weight: 400;
}

#descriptografar.dark {
    color: white;
    font-weight: 400;
}

body.dark {
    background-color: #b4b8c5;
}

.container__area-text.dark {
    background-color: #d4d4d4;
}

.container__text.dark {
    background-color: #d4d4d4;
    border: #d4d4d4;
    color: black;
}

.msg-hidden.dark {
    color: black;
}

.box-hidden.dark {
    background-color: #d4d4d4;
}

.container__area-low-image.dark {
    opacity: 100%;
    color: black; 
}

.developed_text.dark {
    opacity: 80%; 
}

.github_yago.dark {
    color: black;
}

.copy-hidden.dark {
    border: solid 2px #05BE4F;
    color: black;
}

.copy-hidden.dark:hover {
    background-color: #8f8f8f;
}

.msg-hidden.dark {
    background-color: #d4d4d4;
}

.container__box.dark {
    background-color: #d4d4d4;
    color: black;
}

.message-description.dark {
    color: rgb(49, 49, 49);
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__area-text {
    width: 622px;
    height: 527px;

    background-color: #232624;
    border-radius: 10px;
 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__text {
    outline: 0;
    background-color: #232624;
    border: #232624;

    resize: none;
    width: 556px;
    height: 459px;

    text-decoration: none;
    font-family: 'Fira Code', monospace;
    color: white;
    font-size: 26px;
    font-weight: 400;
}

.msg-hidden {
    outline: 0;
    background-color: #232624;
    border: #232624;
    width: 316px;
    height: 450px;
    margin-top: 2%;

    resize: none;
    font-family: 'Fira Code', monospace;
    color: white;
    font-size: 26px;
    font-weight: 400;

    position: absolute;
    display: flex;
}

.container__area-low-image {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 5px;
    opacity: 50%;
    cursor: default;

    font-size: 16px;
    font-weight: 500;
}

.container__area-low-image:hover {
    opacity: 100%;
}

.container__buttons {
    display: flex;
    justify-content: space-between;
}

.container__button {
    width: 300px;
    height: 60px;

    border-radius: 6px;
    border: none;
    background-color: #05BE4F;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.container__button:hover {
    background-color: #006127;
    cursor: pointer;
}

.container__box {
    width: 375.625px;
    height: 626px;

    background-color: #232624;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box-hidden {
    position: absolute;
    width: 375.625px;
    height: 626px;
    background-color: #232624;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.messages {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.msg_copy {
    width: 100px;
    height: 35px;
    transform: scale(0.7);
    background-color: rgb(119, 119, 119);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    font-weight: 500;
    
    cursor: default;
    position: absolute;
    margin-bottom: 60px;
    border-radius: 16px;

    opacity: 0;
}

.msg_copy.animation {
    animation: 3s appear;
}

@keyframes appear{
    0% {
        opacity: 100;
    }
    50% {
        opacity: 90;
    }
    100% {
        opacity: 0;
    }

}

.msg_copy.dark {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.603);
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 200px;
}

.message-error {
    font-size: 22px;
    width: 250px;
    text-align: center;
}

.message-description {
    font-size: 14px;
    color: #949494;
}

.message-description {
    text-align: center;
}

.astronaut-image {
    margin-top: 70px;
    width: 241.64px;
    height: 241.64px;
}

.copy-hidden {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 390px;
    height: 60px;

    border-radius: 6px;
    border: 1px solid #05BE4F;
    background-color: #ffffff00;

    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.copy-hidden:hover {
    background-color: #ffffff23;
    cursor: pointer;
}

.developed_text {
    display: flex;
    cursor: pointer;
    opacity: 50%;
    margin-bottom: 12px;
    margin-right: 12px;
}

.github {
    display: flex;
    text-decoration: none;
    color: white;
    gap: 5px;
}

.developed_text:hover {
    opacity: 100%;
}

i {
    padding-right: 10px;
}

/* SMARTPHONES */

@media (max-width: 1020px){
    body {
        width: 100vw;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container__area {
        width: 90%; 
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .container__area-text{
        width: 95%;
    }

    .container__text {
        width: 90%;
    }

    .container__area-low {
        width: 100%;
    }

    .container__area-low-image {
        display: flex;
        justify-content: center;
    }

    .container__buttons {
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    .container__button {
        width: 45%;
    }
    
    .container__area-box {
        width: 100%;
        height: 400px;
        align-items: start;
        justify-content: center;
        display: flex;
    }

    .box-hidden {
        width: 90%;
        height: 400px;
        padding-bottom: 0;
        
    }

    .msg-hidden {
        width: 80%;
        height: 300px;
    }

    .container__box {
        width: 90%;
        height: 400px;
        justify-content: space-between;
    }

    .astronaut-image {
        margin-top: 0;
    }

    .messages {
        margin-bottom: 10%;
    }

    .copy-hidden{
        width: 100%;
    }

    .developed_text {
        margin-top: 2px;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    footer {
        margin-top: 1%;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }
}




